results/*
*.out
*.log
*.tmp
*.bak
*.dat
*.csv
*.png
*.jpg
*.pdf
*.aux
*.log
*.toc
*.gz
*.pyc
__pycache__/
env/
venv/
*.ipynb_checkpoints
experiments/results/
checkpoints/*
data/
downloads/
temp/
datasets/
*.ckpt
*.pth
*.h5
*.zip
*.tar.gz
.DS_Store
.idea/
.vscode/